* {
	font-family: 'Montserrat', sans-serif !important;
}



/* #####################
		 HEADER
######################## */

#menuLinks {
	padding-top: 22px;
}

#userDetails {
	padding-left: 10px;
	text-align: left
}

#headerCalendar {
	background-size: cover;
	min-height: 300px;
	max-height: 600px;
}

#pageTitle {
	color: white;
	font-size: 48px;
	margin: 60px 0 150px 0;
}